


create table fa (
    pri varchar(20) not null,    
    abc int not null,           
    xyz decimal(5, 2)
);
create table ch (
    pri_ch varchar(20) not null,    
    abc int not null,           
    pri varchar(20) not null , -- if unique 
    foreign key (pri) references fa(pri) -- on delete cascade
);


select * from tblEmployee
-- 01
select * from tblEmployee where tblEmployee.empName like N'Võ Việt Anh';

-- 02
select * from tblEmployee where tblEmployee.empName like N'%Anh';

-- 03
select * from tblEmployee where tblEmployee.empName like N'%A__';

-- 04
select e.empSSN,e.empSalary 
from tblEmployee e
where e.empName like N'%Anh';

-- 05 tìm theo as 
select e.empSSN as 'Mã Nhân Viên' ,e.empSalary as 'Lương'
from tblEmployee e
where e.empName like N'%Anh';


-- 06 2 điều kiện 
select e.empSSN as 'Mã Nhân Viên' ,e.empSalary as 'Lương', e.empSex as 'Giới Tính'
from tblEmployee e
where e.empName like N'%Anh' and  e.empSex='M';


-- 07 hoặc 2 điều kiện
select e.empSSN as 'Mã Nhân Viên' ,e.empSalary as 'Lương', e.empSex as 'Giới Tính', e.empName as 'Họ Tên'
from tblEmployee e
where e.empName like N'%Anh' or  e.empSalary>100000;

-- 08
update tblEmployee 
set empSalary = empSalary+5000, depNum=3
where empName = N'Mai Duy An'

-- 09
update tblEmployee 
set empSalary = empSalary+5000
where empSalary <50000 and empSex = 'F'

-- 10

update tblEmployee 
set empSalary = empSalary+5000
where empSex = 'F' or depNum = 1


--11 List all under 50 year-old female or under 60 year-old male employees
select * 
from tblEmployee e
where  
    (datediff(year, e.empBirthdate, getdate()) < 50 AND e.empSex = 'F')
    OR 
    (datediff(year, e.empBirthdate, getdate()) < 60 AND e.empSex = 'M');
    
    
    
-- 12 Listing all employee by department number ascreasingly, then by salary descreasingly

select * from tblEmployee 
ORDER BY depNum ASC, empSalary DESC;


-- 13 List all employees who work on ‘Phòng Phần mềm trong nước’ department

select e.* from tblEmployee e
JOIN tblDepartment d on e.depNum = d.depNum
where d.depName = N'Phòng Phần mềm trong nước';


--
select e.* 
from tblEmployee e , tblDepartment d
where e.depNum = d.depNum and d.depName = N'Phòng Phần mềm trong nước';


--14 Find all cities in which our company is there.
select DISTINCT l.locName
from tblLocation l
JOIN tblDepLocation dl on l.locNum = dl.locNum;

select distinct l.locName
from tblDepLocation d, tblLocation l
where d.locNum = l.locNum

--15 Find all those project numbers which have more than two members
select pronum
from tblWorkson
group by pronum
having count(empSSN) > 2;



--16  Find all those employees whose name is begun by ‘H’ or salary exceed 80000
select * 
from tblEmployee
where empName LIKE N'H%' OR empSalary > 80000;

-- 17 Find all those normal employees, that is who do not supervise any other employees |  
-- dùng except 
select *
from tblEmployee e
where e.empSSN NOT IN  (
    select supervisorSSN 
    from tblEmployee 
    where supervisorSSN IS NOT NULL
);
--


select e.supervisorSSN
from tblEmployee e
where e.supervisorSSN is not null



--18  Find all employees who work on projectA and projectC
select * from tblEmployee
where empSSN IN (
    select w.empSSN from tblWorkson w JOIN tblProject p on w.pronum = p.pronum where p.proname = 'ProjectA'
    INTERSECT
    select w.empSSN from tblWorkson w JOIN tblProject p on w.pronum = p.pronum where p.proname = 'ProjectC'
);
--19 






select * from tblDepartment
select * from tblEmployee
select * from tblDependent
select * from tblDepLocation
select * from tblLocation
select * from tblProject
select * from tblWorksOn



-- =====================================================================
-- SCHEMA TÓM TẮT:
--   tblDepartment  (depNum, depName, mgrSSN, mgrAssDate)
--   tblEmployee    (empSSN, empName, empAddress, empSalary, empSex,
--                   empBirthdate, depNum, supervisorSSN, empStartdate)
--   tblDependent   (depName, empSSN, depSex, depBirthdate, depRelationship)
--   tblDepLocation (depNum, locNum)
--   tblLocation    (locNum, locName)
--   tblProject     (proNum, proName, locNum, depNum)
--   tblWorksOn     (empSSN, proNum, workHours)
-- =====================================================================


-- =====================================================================
-- CÂU 1: Ai đang quản lý "Phòng Nghiên cứu và phát triển"?
-- Thông tin: mã số, họ tên nhân viên, mã số phòng ban, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN        AS [Mã nhân viên],
    e.empName       AS [Họ tên nhân viên],
    d.depNum        AS [Mã phòng ban],
    d.depName       AS [Tên phòng ban]
FROM tblEmployee e, tblDepartment d
WHERE d.depName = N'Phòng Nghiên cứu và phát triển'
  AND e.empSSN = d.mgrSSN;


-- =====================================================================
-- CÂU 2: "Phòng Nghiên cứu và phát triển" đang quản lý dự án nào?
-- Thông tin: mã số dự án, tên dự án, tên phòng ban quản lý
-- =====================================================================
SELECT
    p.proNum        AS [Mã dự án],
    p.proName       AS [Tên dự án],
    d.depName       AS [Tên phòng ban quản lý]
FROM tblProject p, tblDepartment d
WHERE d.depName = N'Phòng Nghiên cứu và phát triển'
  AND p.depNum = d.depNum;


-- =====================================================================
-- CÂU 3: Dự án "ProjectB" đang được quản lý bởi phòng ban nào?
-- Thông tin: mã số dự án, tên dự án, tên phòng ban quản lý
-- =====================================================================
SELECT
    p.proNum        AS [Mã dự án],
    p.proName       AS [Tên dự án],
    d.depName       AS [Tên phòng ban quản lý]
FROM tblProject p, tblDepartment d
WHERE p.proName = N'ProjectB'
  AND d.depNum = p.depNum;


-- =====================================================================
-- CÂU 4: Những nhân viên nào đang bị giám sát bởi "Mai Duy An"?
-- Thông tin: mã số nhân viên, họ tên nhân viên
-- =====================================================================
SELECT
    e.empSSN        AS [Mã nhân viên],
    e.empName       AS [Họ tên nhân viên]
FROM tblEmployee e
WHERE e.supervisorSSN = (
    SELECT empSSN FROM tblEmployee WHERE empName = N'Mai Duy An'
);


-- =====================================================================
-- CÂU 5: Ai đang giám sát nhân viên "Mai Duy An"?
-- Thông tin: mã số nhân viên, họ tên nhân viên giám sát
-- =====================================================================
SELECT
    e.empSSN        AS [Mã nhân viên giám sát],
    e.empName       AS [Họ tên nhân viên giám sát]
FROM tblEmployee e
WHERE e.empSSN = (
    SELECT supervisorSSN FROM tblEmployee WHERE empName = N'Mai Duy An'
);


-- =====================================================================
-- CÂU 6: Dự án "ProjectA" hiện đang làm việc ở đâu?
-- Thông tin: mã số, tên vị trí làm việc
-- =====================================================================
SELECT
    l.locNum        AS [Mã vị trí],
    l.locName       AS [Tên vị trí làm việc]
FROM tblLocation l
WHERE l.locNum = (
    SELECT locNum FROM tblProject WHERE proName = N'ProjectA'
);


-- =====================================================================
-- CÂU 7: Vị trí "Tp. HCM" là chỗ làm việc của những dự án nào?
-- Thông tin: mã số, tên dự án
-- (Chú ý: trong DB locName = N'TP Hồ Chí Minh', locNum = 5)
-- =====================================================================
SELECT
    p.proNum        AS [Mã dự án],
    p.proName       AS [Tên dự án]
FROM tblProject p
WHERE p.locNum = (
    SELECT locNum FROM tblLocation WHERE locName = N'TP Hồ Chí Minh'
);


-- =====================================================================
-- CÂU 8: Những người phụ thuộc trên 18 tuổi
-- Thông tin: tên, ngày sinh người phụ thuộc, tên nhân viên phụ thuộc vào
-- =====================================================================
SELECT
    dp.depName          AS [Tên người phụ thuộc],
    dp.depBirthdate     AS [Ngày sinh],
    e.empName           AS [Tên nhân viên]
FROM tblDependent dp, tblEmployee e
WHERE dp.empSSN = e.empSSN
  AND DATEDIFF(YEAR, dp.depBirthdate, GETDATE()) > 18;


-- =====================================================================
-- CÂU 9: Những người phụ thuộc là nam giới
-- Thông tin: tên, ngày sinh người phụ thuộc, tên nhân viên phụ thuộc vào
-- =====================================================================
SELECT
    dp.depName          AS [Tên người phụ thuộc],
    dp.depBirthdate     AS [Ngày sinh],
    e.empName           AS [Tên nhân viên]
FROM tblDependent dp, tblEmployee e
WHERE dp.empSSN = e.empSSN
  AND dp.depSex = 'M';


-- =====================================================================
-- CÂU 10: Những nơi làm việc của "Phòng Nghiên cứu và phát triển"
-- Thông tin: mã phòng ban, tên phòng ban, tên nơi làm việc
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    l.locName           AS [Tên nơi làm việc]
FROM tblDepartment d, tblDepLocation dl, tblLocation l
WHERE d.depName = N'Phòng Nghiên cứu và phát triển'
  AND dl.depNum = d.depNum
  AND l.locNum  = dl.locNum;


-- =====================================================================
-- CÂU 11: Các dự án làm việc tại "Tp. HCM"
-- Thông tin: mã dự án, tên dự án, tên phòng ban chịu trách nhiệm
-- =====================================================================
SELECT
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    d.depName           AS [Tên phòng ban chịu trách nhiệm]
FROM tblProject p, tblDepartment d
WHERE p.locNum = (SELECT locNum FROM tblLocation WHERE locName = N'TP Hồ Chí Minh')
  AND d.depNum = p.depNum;


-- =====================================================================
-- CÂU 12: Người phụ thuộc là nữ của nhân viên thuộc "Phòng Nghiên cứu và phát triển"
-- Thông tin: tên nhân viên, tên người phụ thuộc, mối liên hệ
-- =====================================================================
SELECT
    e.empName           AS [Tên nhân viên],
    dp.depName          AS [Tên người phụ thuộc],
    dp.depRelationship  AS [Mối liên hệ]
FROM tblDependent dp, tblEmployee e
WHERE dp.empSSN = e.empSSN
  AND dp.depSex = 'F'
  AND e.depNum = (
      SELECT depNum FROM tblDepartment WHERE depName = N'Phòng Nghiên cứu và phát triển'
  );


-- =====================================================================
-- CÂU 13: Người phụ thuộc trên 18 tuổi của nhân viên thuộc "Phòng Nghiên cứu và phát triển"
-- Thông tin: tên nhân viên, tên người phụ thuộc, mối liên hệ
-- =====================================================================
SELECT
    e.empName           AS [Tên nhân viên],
    dp.depName          AS [Tên người phụ thuộc],
    dp.depRelationship  AS [Mối liên hệ]
FROM tblDependent dp, tblEmployee e
WHERE dp.empSSN = e.empSSN
  AND DATEDIFF(YEAR, dp.depBirthdate, GETDATE()) > 18
  AND e.depNum = (
      SELECT depNum FROM tblDepartment WHERE depName = N'Phòng Nghiên cứu và phát triển'
  );


-- =====================================================================
-- CÂU 14: Số lượng người phụ thuộc theo giới tính
-- Thông tin: giới tính, số lượng người phụ thuộc
-- =====================================================================
SELECT
    depSex              AS [Giới tính],
    COUNT(*)            AS [Số lượng người phụ thuộc]
FROM tblDependent
GROUP BY depSex;


-- =====================================================================
-- CÂU 15: Số lượng người phụ thuộc theo mối liên hệ
-- Thông tin: mối liên hệ, số lượng người phụ thuộc
-- =====================================================================
SELECT
    depRelationship     AS [Mối liên hệ],
    COUNT(*)            AS [Số lượng người phụ thuộc]
FROM tblDependent
GROUP BY depRelationship;


-- =====================================================================
-- CÂU 16: Số lượng người phụ thuộc theo mỗi phòng ban
-- Thông tin: mã phòng ban, tên phòng ban, số lượng người phụ thuộc
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(dp.depName)   AS [Số lượng người phụ thuộc]
FROM tblDepartment d, tblEmployee e, tblDependent dp
WHERE e.depNum = d.depNum
  AND dp.empSSN = e.empSSN
GROUP BY d.depNum, d.depName;


-- =====================================================================
-- CÂU 17: Phòng ban nào có số lượng người phụ thuộc ÍT NHẤT?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng người phụ thuộc
-- =====================================================================
SELECT TOP 1 WITH TIES
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(dp.depName)   AS [Số lượng người phụ thuộc]
FROM tblDepartment d, tblEmployee e, tblDependent dp
WHERE e.depNum = d.depNum
  AND dp.empSSN = e.empSSN
GROUP BY d.depNum, d.depName
ORDER BY COUNT(dp.depName) ASC;


-- =====================================================================
-- CÂU 18: Phòng ban nào có số lượng người phụ thuộc NHIỀU NHẤT?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng người phụ thuộc
-- =====================================================================
SELECT TOP 1 WITH TIES
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(dp.depName)   AS [Số lượng người phụ thuộc]
FROM tblDepartment d, tblEmployee e, tblDependent dp
WHERE e.depNum = d.depNum
  AND dp.empSSN = e.empSSN
GROUP BY d.depNum, d.depName
ORDER BY COUNT(dp.depName) DESC;


-- =====================================================================
-- CÂU 19: Tổng số giờ tham gia dự án của mỗi nhân viên
-- Thông tin: mã nhân viên, tên nhân viên, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    d.depName           AS [Tên phòng ban],
    SUM(w.workHours)    AS [Tổng số giờ]
FROM tblWorksOn w, tblEmployee e, tblDepartment d
WHERE w.empSSN = e.empSSN
  AND e.depNum = d.depNum
GROUP BY e.empSSN, e.empName, d.depName;


-- =====================================================================
-- CÂU 20: Tổng số giờ làm dự án của mỗi phòng ban
-- Thông tin: mã phòng ban, tên phòng ban, tổng số giờ
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    SUM(w.workHours)    AS [Tổng số giờ]
FROM tblWorksOn w, tblEmployee e, tblDepartment d
WHERE w.empSSN = e.empSSN
  AND e.depNum = d.depNum
GROUP BY d.depNum, d.depName;


-- =====================================================================
-- CÂU 21: Nhân viên nào có số giờ tham gia dự án ÍT NHẤT?
-- Thông tin: mã nhân viên, tên nhân viên, tổng số giờ
-- =====================================================================
SELECT TOP 1 WITH TIES
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    SUM(w.workHours)    AS [Tổng số giờ]
FROM tblWorksOn w, tblEmployee e
WHERE w.empSSN = e.empSSN
GROUP BY e.empSSN, e.empName
ORDER BY SUM(w.workHours) ASC;


-- =====================================================================
-- CÂU 22: Nhân viên nào có số giờ tham gia dự án NHIỀU NHẤT?
-- Thông tin: mã nhân viên, tên nhân viên, tổng số giờ
-- =====================================================================
SELECT TOP 1 WITH TIES
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    SUM(w.workHours)    AS [Tổng số giờ]
FROM tblWorksOn w, tblEmployee e
WHERE w.empSSN = e.empSSN
GROUP BY e.empSSN, e.empName
ORDER BY SUM(w.workHours) DESC;


-- =====================================================================
-- CÂU 23: Nhân viên nào lần ĐẦU TIÊN tham gia dự án (chỉ tham gia 1 dự án)?
-- Thông tin: mã nhân viên, tên nhân viên, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    d.depName           AS [Tên phòng ban]
FROM tblEmployee e, tblDepartment d
WHERE e.depNum = d.depNum
  AND e.empSSN IN (
      SELECT empSSN FROM tblWorksOn
      GROUP BY empSSN
      HAVING COUNT(proNum) = 1
  );


-- =====================================================================
-- CÂU 24: Nhân viên nào lần THỨ HAI tham gia dự án (tham gia đúng 2 dự án)?
-- Thông tin: mã nhân viên, tên nhân viên, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    d.depName           AS [Tên phòng ban]
FROM tblEmployee e, tblDepartment d
WHERE e.depNum = d.depNum
  AND e.empSSN IN (
      SELECT empSSN FROM tblWorksOn
      GROUP BY empSSN
      HAVING COUNT(proNum) = 2
  );


-- =====================================================================
-- CÂU 25: Nhân viên nào tham gia TỐI THIỂU 2 dự án?
-- Thông tin: mã nhân viên, tên nhân viên, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    d.depName           AS [Tên phòng ban]
FROM tblEmployee e, tblDepartment d
WHERE e.depNum = d.depNum
  AND e.empSSN IN (
      SELECT empSSN FROM tblWorksOn
      GROUP BY empSSN
      HAVING COUNT(proNum) >= 2
  );


-- =====================================================================
-- CÂU 26: Số lượng thành viên của mỗi dự án
-- Thông tin: mã dự án, tên dự án, số lượng thành viên
-- =====================================================================
SELECT
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    COUNT(w.empSSN)     AS [Số lượng thành viên]
FROM tblProject p, tblWorksOn w
WHERE w.proNum = p.proNum
GROUP BY p.proNum, p.proName;


-- =====================================================================
-- CÂU 27: Tổng số giờ làm của mỗi dự án
-- Thông tin: mã dự án, tên dự án, tổng số giờ làm
-- =====================================================================
SELECT
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    SUM(w.workHours)    AS [Tổng số giờ làm]
FROM tblProject p, tblWorksOn w
WHERE w.proNum = p.proNum
GROUP BY p.proNum, p.proName;


-- =====================================================================
-- CÂU 28: Dự án nào có số lượng thành viên ÍT NHẤT?
-- Thông tin: mã dự án, tên dự án, số lượng thành viên
-- =====================================================================
SELECT TOP 1 WITH TIES
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    COUNT(w.empSSN)     AS [Số lượng thành viên]
FROM tblProject p, tblWorksOn w
WHERE w.proNum = p.proNum
GROUP BY p.proNum, p.proName
ORDER BY COUNT(w.empSSN) ASC;


-- =====================================================================
-- CÂU 29: Dự án nào có số lượng thành viên NHIỀU NHẤT?
-- Thông tin: mã dự án, tên dự án, số lượng thành viên
-- =====================================================================
SELECT TOP 1 WITH TIES
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    COUNT(w.empSSN)     AS [Số lượng thành viên]
FROM tblProject p, tblWorksOn w
WHERE w.proNum = p.proNum
GROUP BY p.proNum, p.proName
ORDER BY COUNT(w.empSSN) DESC;


-- =====================================================================
-- CÂU 30: Dự án nào có tổng số giờ làm ÍT NHẤT?
-- Thông tin: mã dự án, tên dự án, tổng số giờ làm
-- =====================================================================
SELECT TOP 1 WITH TIES
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    SUM(w.workHours)    AS [Tổng số giờ làm]
FROM tblProject p, tblWorksOn w
WHERE w.proNum = p.proNum
GROUP BY p.proNum, p.proName
ORDER BY SUM(w.workHours) ASC;


-- =====================================================================
-- CÂU 31: Dự án nào có tổng số giờ làm NHIỀU NHẤT?
-- Thông tin: mã dự án, tên dự án, tổng số giờ làm
-- =====================================================================
SELECT TOP 1 WITH TIES
    p.proNum            AS [Mã dự án],
    p.proName           AS [Tên dự án],
    SUM(w.workHours)    AS [Tổng số giờ làm]
FROM tblProject p, tblWorksOn w
WHERE w.proNum = p.proNum
GROUP BY p.proNum, p.proName
ORDER BY SUM(w.workHours) DESC;


-- =====================================================================
-- CÂU 32: Số lượng phòng ban làm việc theo mỗi nơi làm việc
-- Thông tin: tên nơi làm việc, số lượng phòng ban
-- =====================================================================
SELECT
    l.locName           AS [Tên nơi làm việc],
    COUNT(dl.depNum)    AS [Số lượng phòng ban]
FROM tblLocation l, tblDepLocation dl
WHERE dl.locNum = l.locNum
GROUP BY l.locName;


-- =====================================================================
-- CÂU 33: Số lượng chỗ làm việc theo mỗi phòng ban
-- Thông tin: mã phòng ban, tên phòng ban, số lượng chỗ làm việc
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(dl.locNum)    AS [Số lượng chỗ làm việc]
FROM tblDepartment d, tblDepLocation dl
WHERE dl.depNum = d.depNum
GROUP BY d.depNum, d.depName;


-- =====================================================================
-- CÂU 34: Phòng ban nào có NHIỀU chỗ làm việc nhất?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng chỗ làm việc
-- =====================================================================
SELECT TOP 1 WITH TIES
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(dl.locNum)    AS [Số lượng chỗ làm việc]
FROM tblDepartment d, tblDepLocation dl
WHERE dl.depNum = d.depNum
GROUP BY d.depNum, d.depName
ORDER BY COUNT(dl.locNum) DESC;


-- =====================================================================
-- CÂU 35: Phòng ban nào có ÍT chỗ làm việc nhất?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng chỗ làm việc
-- =====================================================================
SELECT TOP 1 WITH TIES
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(dl.locNum)    AS [Số lượng chỗ làm việc]
FROM tblDepartment d, tblDepLocation dl
WHERE dl.depNum = d.depNum
GROUP BY d.depNum, d.depName
ORDER BY COUNT(dl.locNum) ASC;


-- =====================================================================
-- CÂU 36: Địa điểm nào có NHIỀU phòng ban làm việc nhất?
-- Thông tin: tên nơi làm việc, số lượng phòng ban
-- =====================================================================
SELECT TOP 1 WITH TIES
    l.locName           AS [Tên nơi làm việc],
    COUNT(dl.depNum)    AS [Số lượng phòng ban]
FROM tblLocation l, tblDepLocation dl
WHERE dl.locNum = l.locNum
GROUP BY l.locName
ORDER BY COUNT(dl.depNum) DESC;


-- =====================================================================
-- CÂU 37: Địa điểm nào có ÍT phòng ban làm việc nhất?
-- Thông tin: tên nơi làm việc, số lượng phòng ban
-- =====================================================================
SELECT TOP 1 WITH TIES
    l.locName           AS [Tên nơi làm việc],
    COUNT(dl.depNum)    AS [Số lượng phòng ban]
FROM tblLocation l, tblDepLocation dl
WHERE dl.locNum = l.locNum
GROUP BY l.locName
ORDER BY COUNT(dl.depNum) ASC;


-- =====================================================================
-- CÂU 38: Nhân viên nào có NHIỀU người phụ thuộc nhất?
-- Thông tin: mã số, họ tên nhân viên, số lượng người phụ thuộc
-- =====================================================================
SELECT TOP 1 WITH TIES
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên],
    COUNT(dp.depName)   AS [Số lượng người phụ thuộc]
FROM tblEmployee e, tblDependent dp
WHERE dp.empSSN = e.empSSN
GROUP BY e.empSSN, e.empName
ORDER BY COUNT(dp.depName) DESC;


-- =====================================================================
-- CÂU 39: Nhân viên nào có ÍT người phụ thuộc nhất (trong số người có)?
-- Thông tin: mã số, họ tên nhân viên, số lượng người phụ thuộc
-- =====================================================================
SELECT TOP 1 WITH TIES
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên],
    COUNT(dp.depName)   AS [Số lượng người phụ thuộc]
FROM tblEmployee e, tblDependent dp
WHERE dp.empSSN = e.empSSN
GROUP BY e.empSSN, e.empName
ORDER BY COUNT(dp.depName) ASC;


-- =====================================================================
-- CÂU 40: Nhân viên nào KHÔNG có người phụ thuộc?
-- Thông tin: mã số nhân viên, họ tên nhân viên, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên],
    d.depName           AS [Tên phòng ban]
FROM tblEmployee e, tblDepartment d
WHERE e.depNum = d.depNum
  AND e.empSSN NOT IN (SELECT empSSN FROM tblDependent);


-- =====================================================================
-- CÂU 41: Phòng ban nào KHÔNG có người phụ thuộc?
-- Thông tin: mã số phòng ban, tên phòng ban
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban]
FROM tblDepartment d
WHERE d.depNum NOT IN (
    SELECT DISTINCT e.depNum
    FROM tblEmployee e
    WHERE e.empSSN IN (SELECT empSSN FROM tblDependent)
);


-- =====================================================================
-- CÂU 42: Nhân viên nào chưa hề tham gia bất kỳ dự án nào?
-- Thông tin: mã số, tên nhân viên, tên phòng ban
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Tên nhân viên],
    d.depName           AS [Tên phòng ban]
FROM tblEmployee e, tblDepartment d
WHERE e.depNum = d.depNum
  AND e.empSSN NOT IN (SELECT empSSN FROM tblWorksOn);


-- =====================================================================
-- CÂU 43: Phòng ban không có nhân viên nào tham gia (bất kỳ) dự án?
-- Thông tin: mã số phòng ban, tên phòng ban
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban]
FROM tblDepartment d
WHERE d.depNum NOT IN (
    SELECT DISTINCT e.depNum
    FROM tblEmployee e
    WHERE e.empSSN IN (SELECT empSSN FROM tblWorksOn)
);


-- =====================================================================
-- CÂU 44: Phòng ban không có nhân viên nào tham gia dự án "ProjectA"?
-- Thông tin: mã số phòng ban, tên phòng ban
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban]
FROM tblDepartment d
WHERE d.depNum NOT IN (
    SELECT DISTINCT e.depNum
    FROM tblEmployee e
    WHERE e.empSSN IN (
        SELECT empSSN FROM tblWorksOn
        WHERE proNum = (SELECT proNum FROM tblProject WHERE proName = N'ProjectA')
    )
);


-- =====================================================================
-- CÂU 45: Số lượng dự án được quản lý theo mỗi phòng ban
-- Thông tin: mã phòng ban, tên phòng ban, số lượng dự án
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(p.proNum)     AS [Số lượng dự án]
FROM tblDepartment d, tblProject p
WHERE p.depNum = d.depNum
GROUP BY d.depNum, d.depName;


-- =====================================================================
-- CÂU 46: Phòng ban nào quản lý ÍT dự án nhất?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng dự án
-- =====================================================================
SELECT TOP 1 WITH TIES
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(p.proNum)     AS [Số lượng dự án]
FROM tblDepartment d, tblProject p
WHERE p.depNum = d.depNum
GROUP BY d.depNum, d.depName
ORDER BY COUNT(p.proNum) ASC;


-- =====================================================================
-- CÂU 47: Phòng ban nào quản lý NHIỀU dự án nhất?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng dự án
-- =====================================================================
SELECT TOP 1 WITH TIES
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    COUNT(p.proNum)     AS [Số lượng dự án]
FROM tblDepartment d, tblProject p
WHERE p.depNum = d.depNum
GROUP BY d.depNum, d.depName
ORDER BY COUNT(p.proNum) DESC;


-- =====================================================================
-- CÂU 48: Phòng ban nào có NHIỀU HƠN 5 nhân viên, đang quản lý dự án gì?
-- Thông tin: mã phòng ban, tên phòng ban, số lượng nhân viên, tên dự án quản lý
-- =====================================================================
SELECT
    d.depNum            AS [Mã phòng ban],
    d.depName           AS [Tên phòng ban],
    (SELECT COUNT(*) FROM tblEmployee WHERE depNum = d.depNum) AS [Số lượng nhân viên],
    p.proName           AS [Tên dự án quản lý]
FROM tblDepartment d, tblProject p
WHERE p.depNum = d.depNum
  AND (SELECT COUNT(*) FROM tblEmployee WHERE depNum = d.depNum) > 5;


-- =====================================================================
-- CÂU 49: Nhân viên thuộc "Phòng nghiên cứu" và KHÔNG có người phụ thuộc
-- Thông tin: mã nhân viên, họ tên nhân viên
-- (Phòng có chứa từ "Nghiên cứu" = "Phòng Nghiên cứu và phát triển")
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên]
FROM tblEmployee e
WHERE e.depNum = (
    SELECT depNum FROM tblDepartment WHERE depName LIKE N'%Nghiên cứu%'
)
  AND e.empSSN NOT IN (SELECT empSSN FROM tblDependent);


-- =====================================================================
-- CÂU 50: Tổng số giờ làm của nhân viên KHÔNG có người phụ thuộc
-- Thông tin: mã nhân viên, họ tên nhân viên, tổng số giờ làm
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên],
    SUM(w.workHours)    AS [Tổng số giờ làm]
FROM tblEmployee e, tblWorksOn w
WHERE w.empSSN = e.empSSN
  AND e.empSSN NOT IN (SELECT empSSN FROM tblDependent)
GROUP BY e.empSSN, e.empName;


-- =====================================================================
-- CÂU 51: Tổng số giờ làm của nhân viên có NHIỀU HƠN 3 người phụ thuộc
-- Thông tin: mã nhân viên, họ tên nhân viên, số lượng người phụ thuộc, tổng số giờ làm
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên],
    (SELECT COUNT(*) FROM tblDependent WHERE empSSN = e.empSSN) AS [Số người phụ thuộc],
    SUM(w.workHours)    AS [Tổng số giờ làm]
FROM tblEmployee e, tblWorksOn w
WHERE w.empSSN = e.empSSN
  AND (SELECT COUNT(*) FROM tblDependent WHERE empSSN = e.empSSN) > 3
GROUP BY e.empSSN, e.empName;


-- =====================================================================
-- CÂU 52: Tổng số giờ làm của nhân viên đang dưới quyền giám sát của "Mai Duy An"
-- Thông tin: mã nhân viên, họ tên nhân viên, tổng số giờ làm
-- =====================================================================
SELECT
    e.empSSN            AS [Mã nhân viên],
    e.empName           AS [Họ tên nhân viên],
    SUM(w.workHours)    AS [Tổng số giờ làm]
FROM tblEmployee e, tblWorksOn w
WHERE w.empSSN = e.empSSN
  AND e.supervisorSSN = (
      SELECT empSSN FROM tblEmployee WHERE empName = N'Mai Duy An'
  )
GROUP BY e.empSSN, e.empName;






--17 viet produde liet ke cac nhan vien co luong tren 5000


create procedure sp_returnnv 
@salary int 
as 
select * from tblEmployee where empSalary > @salary


exec sp_returnnv 5000

drop procedure sp_returnnv



-- tim phong ban có luong trung binh cao nhat


create procedure sp_avgmax
as
	select top 1 d.depName
from 
    tblDepartment d , tblEmployee e
where d.depNum = e.depNum
group by
    d.depName
order by
    avg(e.empSalary) desc;
    
exec sp_avgmax;

drop procedure sp_avgmax;

-- viet produre find name all project duoc lam boi ma nhan vien do nguoi dung nhap vao

create procedure sp_findprojectbyemp
@empSSN decimal
as 
	select 
        *
    from 
        tblProject p
     join
        tblWorksOn w on p.proNum = w.proNum
    where 
        w.empSSN = @empSSN;
        
 

exec sp_findprojectbyemp 30121050035

drop procedure sp_findprojectbyemp
 
 
select * from tblDepartment;
 
 
 
-- viet function tinh tong luong  cac nv nu trong cty

create function f_sumsalaryfemale()
returns int
as
begin 
	declare @s as int 
	
	select @s=sum(e.empSalary)
	from tblEmployee e
	where e.empSex = 'F'
	return @s
end


declare @result as int
select @result=dbo.f_sumsalaryfemale()
print @result

-- viet f tim luong nhan vien co ma so do nguoi dung nhap vao 

create function f_findnhanvien(
@empSSN decimal
)
returns int
as
begin 
	declare @salary as int 
	
	select @salary=e.empSalary
	from tblEmployee e
	where e.empSSN = @empSSN
	return @salary
end

declare @result as int
select @result=dbo.f_findnhanvien(30121050035)
print @result


-- viet ham tinh luong trung binh cua ma phong ban do nguoi dung nhap vao

create function f_avgsalary(
@depNum decimal
)
returns int
as
begin 
	declare @avgsala as decimal 
	
	select @avgsala=AVG(e.empSalary)
	from tblEmployee e
	join tblDepartment d on e.depNum = d.depNum
	where d.depNum = @depNum
	group by e.depNum
	return @avgsala
end
drop function f_avgsalary

create function f_avgsalary2(
@depNum decimal
)
returns int
as
begin 
	declare @avgsala as decimal 
	
	select @avgsala=AVG(e.empSalary)
	from tblEmployee e
	where depNum = @depNum
	group by e.depNum
	return @avgsala
end

declare @avgsala as decimal
select @avgsala=dbo.f_avgsalary2(3)
print @avgsala


--- tim nhan vien co luong lon hon 10000

create function f_findemin10000()
returns table
as return(select * from tblEmployee where empSalary >10000)


select *  from f_findemin10000()

-- tim nhan vien theo nam sinh va gioi tinh 

create function f_findempbirthsex(@ns int , @sex char)
returns table
as return(select * from tblEmployee where year(empBirthdate) = @ns and empSex = @sex)

select * from f_findempbirthsex(1970,'F')




--------------------------------
go
create trigger trg_ktduoi18 on tblEmployee
after  insert , update 
as

begin

	declare @ns as datetime
	select @ns = e.empBirthdate
	from inserted e
	if (YEAR(getdate())-YEAR(@ns)) < 18
	begin 
		raiserror ('tuoi nhan vien phai tren 18' , 16 , 1)
		rollback transaction
	end;
	
end;

go
drop trigger trg_ktduoi18
go
update tblEmployee set empBirthdate = '2024/01/01' where empSSN = 30121050015

go

go
select * from tblEmployee
go



go

create trigger trg_ktduoi18_2 on tblEmployee

after insert, update  

as
if exists(select * from inserted i where YEAR(getdate())- YEAR(i.empBirthdate) <18)

begin 
raiserror ('tuoi nhan vien phai tren 18',16,1)
rollback transaction
end

go

create trigger trg_luongkhongam on tblEmployee

after insert, update  

as
if exists(select * from inserted i where i.empSalary  < 0)

begin 
raiserror ('luong nhan vien phai lon hon 0',16,1)
rollback transaction
end


go

update tblEmployee set empSalary = -1 where empSSN = 30121050015


go

create trigger trg_xoatruongphong on tblEmployee
instead of delete
as
if exists(select * from deleted i join tblDepartment d on i.empSSN=d.mgrSSN)
begin 
	raiserror ('khong duoc phep xoa truong phong',16,1)
	rollback transaction
end

go

select * from tblDepartment

delete from tblEmployee where empSSN = 30121050142

----------cursor 


declare @ssn decimal ,
		@fullname nvarchar(100),
		@message nvarchar(100)
open emp_cursor 
fetch next from emp_cursor into @ssn,@fullname 
if @@FETCH_STATUS <> 0 print '<None>'
while @@FETCH_STATUS=0




