CREATE DATABASE [HomestayMNG]

GO

use [HomestayMNG]

GO

CREATE TABLE [dbo].[tblUsers](
	[userID] [varchar](10) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[roleID] [nvarchar](10) NOT NULL,
	[password] [varchar](30) NOT NULL,
	PRIMARY KEY ([userId])
)

GO

CREATE TABLE [dbo].[tblHomestays](
	[homeID] [nchar](6) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[userID] [varchar](10) NOT NULL,
	CONSTRAINT FK_Home_User FOREIGN KEY (userID) REFERENCES tblUsers(userID),
	PRIMARY KEY ([homeID])
	
)	


INSERT [dbo].[tblUsers] ([userID], [fullname], [roleID], [password]) VALUES (N'Anh', N'Le Anh', N'US', N'111')
INSERT [dbo].[tblUsers] ([userID], [fullname], [roleID], [password]) VALUES (N'Nga', N'Huynh Thi Nga', N'US', N'222')
INSERT [dbo].[tblUsers] ([userID], [fullname], [roleID], [password]) VALUES (N'Nhung', N'Le Hong Nhung', N'AD', N'44')


GO

INSERT [dbo].[tblHomestays] ([homeID], [description], [price], [address], [userID]) VALUES (N'HDL001', N'The Seen House', 400000, N'16 Hydrangea Street, Ward 3, Da Lat City', N'Anh')
INSERT [dbo].[tblHomestays] ([homeID], [description], [price], [address], [userID]) VALUES (N'HDL002', N' Feel and Love homestay', 500000, N'12 Le Van Tam, Ward 10, Da Lat City', N'Anh')
INSERT [dbo].[tblHomestays] ([homeID], [description], [price], [address], [userID]) VALUES (N'HDL004', N'Le homestay', 550000, N'31 Sao Nam, Ward 11, Da Lat City', N'Nga')
