
CREATE DATABASE [SaleMNG]
 
GO
 USE [SaleMNG]
GO

CREATE TABLE [tblUsers](
	[UserID] [nvarchar](10) NOT NULL,
	[fullName] [nvarchar](30) NULL,
	[password] [nchar](5) NULL,
	[roleID] [nvarchar](10) NULL,
	Primary key([UserID])

) 

GO

CREATE TABLE [tblInvoices](
	[invID] [nvarchar](6) NOT NULL,
	[invDate] [date] NULL,
	[customer] [nvarchar](30) NULL,
	[userID] [nvarchar](10) NULL,
	CONSTRAINT FK_User_INV FOREIGN KEY (userID) REFERENCES tblUsers(userID),
	PRIMARY KEY ([invid])
)
GO

CREATE TABLE [tblSuppliers](
	[supCode] [nvarchar](4) NOT NULL,
	[supName] [nvarchar](30) NULL,
	[address] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	PRIMARY KEY ([supCode])
)
GO

CREATE TABLE [tblProducts](
	[proID] [nvarchar](6) NOT NULL,
	[proName] [nvarchar](70) NULL,
	[unit] [nvarchar](10) NULL,
	[supCode] [nvarchar](4) NULL,
	CONSTRAINT FK_Pro_Sup FOREIGN KEY (supCode) REFERENCES tblSuppliers(supCode),
	PRIMARY KEY ([proID])

)

GO
CREATE TABLE [tblInv_Detail](
	[invID] [nvarchar](6) NOT NULL,
	[proID] [nvarchar](6) NOT NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
	CONSTRAINT FK_Inv_detail FOREIGN KEY (invID) REFERENCES tblInvoices(invID),
	CONSTRAINT FK_Pro_detail FOREIGN KEY (proID) REFERENCES tblProducts(proID),
	PRIMARY KEY ([invID],[proID])
)

GO

INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID]) VALUES (N'Baonv', N'Nguyen Van Bao', N'22222', N'staff')
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID]) VALUES (N'Huyenth', N'Tran Thanh Huyen', N'11111', N'staff')
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID]) VALUES (N'Thanhlh', N'Le Hoai Thanh', N'12345', N'admin')

GO

INSERT [dbo].[tblSuppliers] ([supcode], [supname], [address], [phone]) VALUES (N'HT01', N'Hoang Tuan', N'24/7 Ly Chinh Thang Street, District 3, Ho Chi Minh City', N'0971234568')
INSERT [dbo].[tblSuppliers] ([supcode], [supname], [address], [phone]) VALUES (N'MN02', N'Minh Nghia', N'20/5 Tran Hung Dao Street, District 5, Ho Chi Minh City', N'0936549980')
INSERT [dbo].[tblSuppliers] ([supcode], [supname], [address], [phone]) VALUES (N'TH03', N'Tan Hoang', N'100 Nguyen Thi Minh Khai Street, District 1, Ho Chi Minh City', N'937892444')

GO

INSERT [dbo].[tblProducts] ([proID], [proName], [unit], [supCode]) VALUES (N'BAVTVP', N'Office Computer Desk', N'Piece', N'HT01')
INSERT [dbo].[tblProducts] ([proID], [proName], [unit], [supCode]) VALUES (N'CAMVP ', N'Camera Ezviz C6N 1080P ', N'Boxes', N'HT01')
INSERT [dbo].[tblProducts] ([proID], [proName], [unit], [supCode]) VALUES (N'DDRAM4', N'Ram Laptop Crucial DDR4 16GB 3200MHz ', N'Stick', N'MN02')

GO

INSERT [dbo].[tblInvoices] ([invID], [invDate], [customer], [userID]) VALUES (N'I00001', CAST(N'2025-06-12' AS Date), N'Tran Hoai Bao', N'Baonv')
INSERT [dbo].[tblInvoices] ([invID], [invDate], [customer], [userID]) VALUES (N'I00002', CAST(N'2025-06-26' AS Date), N'Le Thanh Tung', N'Baonv')
INSERT [dbo].[tblInvoices] ([invID], [invDate], [customer], [userID]) VALUES (N'I00003', CAST(N'2025-07-04' AS Date), N'Nguyen Van Binh', N'Huyenth')

GO

INSERT [dbo].[tblInv_Detail] ([invID], [proID], [quantity], [price]) VALUES (N'I00001', N'BAVTVP', 5, 750000)
INSERT [dbo].[tblInv_Detail] ([invID], [proID], [quantity], [price]) VALUES (N'I00001', N'GLVP01', 2, 400000)
INSERT [dbo].[tblInv_Detail] ([invID], [proID], [quantity], [price]) VALUES (N'I00001', N'PCDELL', 2, 12000000)












